* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto{
    color: black;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.game-board{
    width: 100%;
    height: 950px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.tubo{
    position: absolute;
    bottom: 0; 
    width: 80px;
    animation: animacao-tubo 1.5s infinite linear;
}

.mario{
    width: 130px;
    position: absolute;
    bottom: 0;   
}

.pulo{
    animation: pulo-mario 700ms ease-out;
}

.nuvem1{
    position: absolute;
    width: 500px;
    top: 20px;
    left: 50px;
}

.nuvem2{
    position: absolute;
    width: 500px;
    top: 200px;
    left: 700px;
}

.nuvem3{
    position: absolute;
    width: 500px;
    top: 100px; 
    right: 20px;
}

@keyframes animacao-tubo{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes pulo-mario{
   0% {
    bottom: 0;
    }

   40% {
    bottom: 200px;
    }

   50% {
    bottom: 200px;
    }

   60% {
    bottom: 200px;
    }

   100% {
    bottom:0;
    }
}
